.Otherdevices{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Otherdevices .Image{
    width: 80%;
}
.Otherdevices .Image img{
    width: 100%;
}