.Home{
    width: 100%;
    height: 100vh;
}
.Home .Logo{
    width: 15%;
    padding: 1%;
}
.Home .Logo img{
    width: 100%;
}
.Home .RArea{
    width: 100%;
    display: flex;
    justify-content: center;
}