.RegisterArea{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.RegisterArea .Container{
    width: 50%;
}

.RegisterArea .Container .ButtonArea{
    display: flex;
    justify-content: center;
}

.RegisterArea .Container .ButtonArea button{
    color: white;
    font-size: 150%;
    border: none;
}

#showLogin{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

#showRegister{
    background-color: transparent;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
}

#register, #login{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 20%;
    background-color: transparent;
    border: 1px solid white;
}

#inp6, #inp3{
    padding-bottom: 5%;
}

.RegisterArea .Container .Form{
    background-color: rgba(255, 255, 255, 0.1);
}

.RegisterArea .Container .Form .InputArea{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.RegisterArea .Container .Form .InputArea .Label{
    width: 30%;
    font-size: 150%;
    color: white;
    margin-left: 5%;
}

.RegisterArea .Container .Form .InputArea .Input{
    width: 60%;
}

.RegisterArea .Container .Form .InputArea .Input input{
    width: 100%;
    border: none;
    color: red;
    border-bottom: 1px solid white;
    font-size: 140%;
    background-color: transparent;
    outline: none;
}

#loader1, #registerForm{
    display: none;
}

.ButtonArea{
    display: flex;
    justify-content: center;
}

.Loader {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 25%;
}

.spinner {
    width: 70px;
    height: 70px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: rgba(255, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid white;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}