.Navbar{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: left;
}
.Navbar #logo{
    width: 15%;
    padding: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Navbar #logo img{
    width: 100%;
}
.Navbar #wishlist, #logout{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 200%;
    cursor: pointer;
}
.Navbar #wishlist{
    width: 15%;
}
.Navbar #logout{
    width: 5%;
}
.Navbar #wishlist:hover{
    color: red;
}
.Gap{
    width: 65%;
}
.Navbar #logout:hover{
    color: red;
}